.container{
    margin:20px;
    width:300px;
    border:2px solid black;
}

.container img{
    width:100%;
}

.content h1{
    color:Black;
    font-family:"Roboto";
    color:darkblue;
}



.content{
    padding:20px;
}


.content p{
    font-family: "Roboto";
    font-size:20px;
}

.content p span{
    font-weight:bold;
}

.content button{
    font-weight:bold;
    background-color:orange;
    border-radius:50px;
    padding:15px;
    width:100%;
    border:2px solid black
}

.parent{
    background-color: red;
    padding:20px;
    display:20px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    text-align: center;
}
.child{
    padding:50px;
    background-color:yellow;
    border:1px solid black;
}