*{
    box-sizing: border-box;
    margin:0px;
}


.navbar{
    background-color:black;
    padding:30px;
    color:#ffffff;
    display:flex;  
    justify-content: space-between;
    flex-direction:row;
    align-items:center;
}

.overview{
    display: flex;
    color:#ffffff;
    justify-content:center;
    gap:10px;
    font-size:10px;
}

.buttons{
    justify-content: flex-end;
    gap:20px;
}

.login{
    background-color: #ffffff;
    border:0px;
    padding:8px;
    border-radius: 10px;
}

.signup{
    background-color:green;
    border:0px;
    padding:8px;
    border-radius: 10px;
}